:root {
  --primary: #E7ECEF;
  --green: #4ECDC4;
  --babyBlue: #B9E1DC;
  --red: #FF6B6B;
  --grey: #666;
  --black: #222;
  --grey30: rgba(222, 222, 222, 0.7);
  --grey50: rgba(222, 222, 222, 0.5);
  --shadow: 0 1px 5px rgba(222, 222, 222, 0.9);
  --hover: #FFE66D;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: 'Nunito', sans-serif;
  background-color: var(--primary);
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

footer {
  display: none;
}

.btn:hover {
  background-color: var(--primary) !important;
  color: var(--hover) !important;
}
